body {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	background-color: #000000;
	background-image: url(coding-1841550_960_720.webp);
	background-repeat: no-repeat;
	background-size: cover;
}
main {
	display: flex;
	margin: auto;
	width: 90%;
	height: 300px;

	justify-content: space-around;
}
.btn-main {
	display: flex;
	margin-top: 390px;
}
.main-text {
	display: flex;
	flex-direction: column;
	margin-top: 250px;
	width: 35%;
	color: white;
}
h1 {
	font-size: 48px;
}
p {
	font-size: 24px;
	margin-top: 0;
}
a {
	height: 10%;
}
.btn {
	font-size: 24px;
	font-family: "Inter", sans-serif;
	width: 240px;
	height: 57px;
	color: white;
	background: #2936a9;
	border: 1px solid #000000;
	border-radius: 10px;
}
.btn:hover {
	color: rgb(255, 255, 255);
	background: #0c1777;
}
.btn-text {
	width: 200px;
	text-decoration: none;
	color: white;
}
.btn-text:hover {
	color: rgb(255, 255, 255);
}
@media screen and (max-width: 992px) {
	body {
		background-repeat: repeat;
	}
}
@media screen and (max-width: 992px) {
	main {
		flex-direction: column-reverse;
		margin: 0;
	}
}
@media screen and (max-width: 992px) {
	h1 {
		font-size: 28px;
	}
}
@media screen and (max-width: 992px) {
	.main-text {
		width: 110%;
		margin: auto;
		text-align: center;
	}
}

@media screen and (max-width: 992px) {
	.btn-main {
		margin: auto;
		margin-top: 500px;
	}
}
